body
{
    background-color: cyan;
}

.heading
{
    height: 60px;
    width: 380px;
    font-size: 30px;
}

.anchor1
{
    height: 40px;
    width: 200px;
    font-size: 20px;
}

.anchor2
{
    height: 40px;
    width: 240px;
    font-size: 20px;
}